.btn {
  width: 130px;
  height: 36px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 420px) {
  .btn {
    width: 90px;
    height: 30px;
    font-size: 13px;
  }
}
